.chat {
  display: flex;
  height: 90vh;

  &__sidebar-left,
  &__sidebar-right {
    width: 50%;
    transition: width 0.3s ease-out;
    border: 1px solid #ccc;
    padding: 10px;

    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }

  &__sidebar-close {
    width: 0;
    padding: 0;

    ul,
    li {
      display: none;
    }

    .chat__heading {
      display: none;
    }
  }

  &__conversation-item {
    cursor: pointer;
    user-select: none;
  }

  &__main {
    max-width: 100%;
    position: relative;
    padding: 10px;
  }

  &__title {
    display: flex;
    align-items: center;

    &__heading {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
    padding: 0;
    max-height: 75vh;
    overflow-y: auto;
  }

  .chat__message {
    display: inline-block;
    max-width: 60%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    word-break: break-word;
    flex: 1;

    &--self {
      background: #e0f7fa;
      align-self: flex-end;
      margin-left: auto;
    }

    &--other {
      background: #fce4ec;
      align-self: flex-start;
      margin-right: auto;
    }
  }


  &__input-wrapper {
    position: absolute;
    bottom: 3%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__input {
    padding: 8px;
    width: calc(100% - 100px);
    margin-right: 10px;
  }

  &__send-btn {
    padding: 8px 16px;
  }
}

@media (max-width:768px) {
  .chat {
    &__sidebar-right {
      display: none;
    }

    &__sidebar-left {
      width: 30%;
    }

    &__sidebar-close {
      width: 0;
      padding: 0;

      ul,
      li {
        display: none;
      }

      .chat__heading {
        display: none;
      }
    }
  }
}